.owc-button {
	background: url( '../images/icon-whatsapp.png' ) center center no-repeat #00A700;
	background-size: auto 90%;
	bottom: 30px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	height: 50px;
	left: 30px;
	position: fixed;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	text-indent: -999px;
	width: 50px;
	z-index: 999;
	-webkit-box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
	-moz-box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
	box-shadow: -3px 3px 8px 0px rgba(110,110,110,0.5);
}

@media ( min-width: 767px ) {
	.owc-button.owc-text {
		align-items: center;
		background-position: left;
		display: flex;
		font-size: 16px;
		text-indent: 0;
		width: auto;
	}

	.owc-button.owc-text span {
		color: #fff;
		display: block;
		margin: 0 15px 0 50px;
	}
}

.owc-button:hover {
	bottom: 40px;
	text-decoration: none;
}
